{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <p>this came from the template {{ index .StringMap "test" }}</p>
            <p>{{ if ne (index .StringMap "remote_ip") "" }}
                Your remote IP address is {{index .StringMap "remote_ip"}}
                {{else}}
                I don't kow your ip address yet
                {{end}}
            </p>
        </div>
    </div>

</div>
{{end}}